:root{
    --paper: #F8FAFC;
    --ink: #1C1B20;
    --navy: #0A506E;
    --sky: #8BA9C6;
    --lime: #A3D900;
    --crimson: #A82835;
}

html{
    position: relative;
}

body{
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden; /* Hide scrollbars */
    cursor: wait;
    background-color: var(--paper);
    color: var(--ink);
}